@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700&subset=latin,latin-ext);

html,body {
    font-family:'Source Sans Pro', sans-serif;
    height:100%;
    margin:0;
    padding:0;
}

#header {
    padding: 0;
    margin: 0;
    background-color: darkcyan;
}
footer {
    background-color: darkcyan;
    text-align: center;
}
#content {
    float: left;
    width: 900px;
}

nav {
    width: 300px;
    float: left;
}

